<% layout("boilerplate") %>

<div class="container">
  <!-- Card deck -->

  <div class="card">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="<%=place[0].photoURL%> "
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <% for(let trip of trips) {%> 
    <div class="card bg-dark text-light">
      <h5 class="card-header">From: <%= trip.companyName%> </h5>
      <h5 class="card-header">Price: <%= trip.price%>$ </h5>
      <h5 class="card-header bg-warning text-dark">Date to lunch: <%= trip.date%> </h5>
      <div class="card-body">
        <h5 class="card-title">Trip Type: <%= trip.tripType%> , Duration: <%= trip.numberOfday%> days, Number Of enrollers: <%= trip.noOfExpolorers%> </h5>
        <p>
          <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            See Trip Discription
          </button>
          <div class="collapse " id="collapseExample">
            <div class="card card-body bg-dark text-light">
              <p class="card-text"><%= trip.description%></p>
            <h6>Bus id: <%= trip.busId%>, Agency: <%= trip.agency%>, Capacity: <%= trip.capacity%></h6>
            </div>
          </div>
        </p>
          <a class="btn btn-warning" href="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= trip.id %>&<%= trip.company_user_id %>" role="button">Enroll</a>
      </div>
    </div>
    <% } %> 
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h2 class="card-title"><%=place[0].name %></h2>
      <!--Text-->
      <% if(place[0].placeType == 0) {%>
      <h5> History</h5>
      <p class="card-text"><%= place[0].history%></p>
      <h8><b> Religion: </b><%= place[0].religion%></h8>
      <% } else if(place[0].placeType == 1){ %> <!-- Nature Reserve -->
        <h5> Discription</h5>
        <p class="card-text"><%= place[0].reserveDiscription%></p>
        <h8><b> Reserve Type: </b><%= place[0].reserveType%></h8>
      <% } else if(place[0].placeType == 2){  %> <!-- Topography -->
        <h5> Discription</h5>
        <p class="card-text"><%= place[0].topoDiscription%></p>
        <h8><b> Land Type: </b><%= place[0].landType%></h8>
      <% } %>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    </div>
  </div>
</div>
