<% layout("boilerplate") %>

<div class="container-fluid d-flex ">
<div class="container-fluid ">
  <!-- Card deck -->

  <div class="card">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="<%=place[0].photoURL%> "
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <% for(let trip of trips) {%> 
    <div class="card bg-black text-light">
      <% if(isAdmin || (userType == 1 && trip.company_user_id == user_id)) {%> 
        <form action="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= trip.id %>&<%= trip.company_user_id%>&<%= trip.busId %>/deletetrip?_method=delete" method="post">
          <button class="btn btn-danger mt-3 d-flex" role="button">X</button>
        </form>
        <% } %> 
      <h5 class="card-header">From: <%= trip.companyName%> </h5>
      <h5 class="card-header">Price: <%= trip.price%>$ </h5>
      <h5 class="card-header bg-warning text-dark">Date to lunch: <%= trip.date%> </h5>
      <div class="card-body">
        <h5 class="card-title">Trip Type: <%= trip.tripType%> , Duration: <%= trip.numberOfday%> days, Number Of enrollers: <%= trip.noOfExpolorers%> </h5>
        <p>
          <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            See Trip Discription
          </button>
          <div class="collapse " id="collapseExample">
            <div class="card card-body bg-dark text-light">
              <p class="card-text"><%= trip.description%></p>
              <h5 class="card-title"> Reviews</h5>
              <% for(let review of reviews) { %> 
                <% if(review.trip_id == trip.id ) %> 
                
              <div class="card text-bg-warning mb-3">
                <div class="card-header"><b><%= review.userName %></b></div>
                <% if(isAdmin) {%> 
                  <form action="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= review.trip_id %>&<%= review.explorer_user_id %>/deletereview?_method=delete" method="post">
                    <button class="btn btn-danger mt-3 d-flex" role="button">X</button>
                  </form>
                  <% } %> 
                <div class="card-body">
                  <h6 class="card-title">Rating: <%= review.rating %></h6>
                  <p class="card-text"><%= review.text %></p>
                </div>
              </div>
              <% } %> 
            <h6>Bus id: <%= trip.busId%>, Agency: <%= trip.agency%>, Capacity: <%= trip.capacity%></h6>
            </div>
          </div>
        </p>
          <a class="btn btn-warning" href="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= trip.id %>&<%= trip.company_user_id %>" role="button">Enroll</a>
          <a class="btn btn-warning" href="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= trip.id %>&<%= trip.company_user_id %>/addreview" role="button">Add A Review</a>
      </div>
    </div>
    <% } %> 
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h2 class="card-title"><%=place[0].name %></h2>
      <!--Text-->
      <% if(place[0].placeType == 0) {%>
      <h5> History</h5>
      <p class="card-text"><%= place[0].history%></p>
      <h8><b> Religion: </b><%= place[0].religion%></h8>
      <% } else if(place[0].placeType == 1){ %> <!-- Nature Reserve -->
        <h5> Discription</h5>
        <p class="card-text"><%= place[0].reserveDiscription%></p>
        <h8><b> Reserve Type: </b><%= place[0].reserveType%></h8>
      <% } else if(place[0].placeType == 2){  %> <!-- Topography -->
        <h5> Discription</h5>
        <p class="card-text"><%= place[0].topoDiscription%></p>
        <h8><b> Land Type: </b><%= place[0].landType%></h8>
      <% } %>
       <% if(isAdmin) {%>  
      <a class="btn mt-3 btn-warning btn-block" href="/places/<%=place[0].longitude%>&<%=place[0].latitude%>/addcreature" role="button">Add Creature</a>
        <form action="/places/<%=place[0].longitude%>&<%=place[0].latitude%>/deleteplace?_method=delete" method="post">
          <button class="btn btn-danger mt-3" role="button">X</button>
        </form>
        <% } %> 
    </div>
    <h5 class="card-header">Species associated with this place</h5>
    <!-- animal -->
    <% for(let creature of creatures) { %> 
    <div class="card text-bg-warning mb-3 d-flex" >
      <h4 class="card-header"><%= creature.name %> </h4>
      <div class="card-body">
        <h6 class="card-title">Family: <%= creature.family %>, Endangered: <%= creature.endangered %> </h6>
        <p class="card-text"><%= creature.discription %></p>
      </div>
    </div>
    <% } %> 
  </div>
</div>
<div class="container" style="width: 20rem;">
  <h3 class="card-header text-warning">Hotels</h3>
  <!-- Hotels -->
  <% for(let hotel of hotels) { %> 
 <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
  <% if(isAdmin) {%> 
  <form action="/places/<%=place[0].longitude%>&<%=place[0].latitude%>&<%= hotel.name %>/deletehotel?_method=delete" method="post">
    <button class="btn btn-danger mt-3 d-flex" role="button">X</button>
  </form>
  <% } %> 
  <h4 class="card-header d-flex"><%= hotel.name %> </h4>
  <div class="card-body">
    <h6 class="card-title">Location: <%= hotel.location %></h6>
    <h6 class="card-title"><%= hotel.rating %> Stars</h6>
    <p class="card-text"><%= hotel.discription %> </p>
  </div>
</div> 
<% } %> 

</div>


</div>